<!DOCTYPE html>
<html>
  <head>
    <meta name="title" content="Christmas Quotes Advent Calendar powered by Deno">
    <meta name="desciption" content="Christmas Quotes Advent Calendar powered by Deno">
    <meta name="keywords" content="deno, typescript, javascript, side-project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Christmas Quotes Advent Calendar powered by Deno">
    <meta property="og:title" content="Christmas Quotes Advent Calendar powered by Deno">
    <meta property="og:desciption" content="Christmas Quotes Advent Calendar powered by Deno">
    <meta property="og:url" content="/">
    <title>Christmas Quotes Advent Calendar powered by Deno</title>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
   <div id="app" class="container">
     <div class="header">
      <img src="images/christmas-tree.png" alt="Christmas Quotes Advent Calendar" />
      <h2 class="header-title">Christmas Quotes Advent Calendar {{date}}</h2><span>powered by Deno</span>
     </div>

      <div class="info-box-container">
        <img class="info-box-img" src="images/info.svg" alt="Attribution" />
        <div class="info-box">
          <div class="info-box-title">Attribution</div>
          Thanks to <a href="https://www.shutterfly.com/ideas/christmas-captions/" target="_black" rel="nofollow noreferrer" title="shutterfly" >shutterfly</a> for the great quotes.
          <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_black" rel="nofollow noreferrer">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>
      </div>
      
      <div class="waiting" v-if="!ready">
        <img src="images/santa-claus.png" alt="santa - not yet december">
        <p>It's not yet December!</p>
      </div>
      <div class="cards" v-if="ready">
        <card v-for="card in cards" :card="card" :key="card.day">{{card.quote}}</card>
      </div>
    </div>

    <script src="vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>